<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Login page</h1>
<form th:action="@{/login}" th:object="${user}" method="post">
    <label for="username">Username</label>:
    <input type="text" id="username" name="username" th:field = "*{username}" autofocus="autofocus" /> <br />
    <label for="password">Password</label>:
    <input type="password" id="password" th:field = "*{password}" name="password" /> <br />
    <input type="submit" value="Log in" />
</form>
</body>
</html>